.container {
    border: 1px solid black;
    background-color: rgb(240, 240, 240);
  }

  a {
    text-decoration: none;
  }

  header {
    position: relative;
    height: 70px;
    width: 100%;
  }

  .date {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  table {
    width: 100%;
    border-spacing: 15px;
  }

  tr,
  td {
    border: 1px solid black;
    height: 100px;
    text-align: center;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .your-name {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  td > img {
    border-radius: 50%;
  }

  footer {
    position: relative;
    height: 30px;
    width: 100%;
  }

  .complaint {
    position: absolute;
    left: 15px;
  }